In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/gapminder.csv', index_col=[2,0,1])
df

                            lifeExp       pop    gdpPercap
continent country     year
Asia      Afghanistan 1952   28.801   8425333   779.445314
                      1957   30.332   9240934   820.853030
                      1962   31.997  10267083   853.100710
                      1967   34.020  11537966   836.197138
                      1972   36.088  13079460   739.981106
                      1977   38.438  14880372   786.113360
                      1982   39.854  12881816   978.011439
                      1987   40.822  13867957   852.395945
                      1992   41.674  16317921   649.341395
                      1997   41.763  22227415   635.341351
                      2002   42.129  25268405   726.734055
                      2007   43.828  31889923   974.580338
Europe    Albania     1952   55.230   1282697  1601.056136
                      1957   59.280   1476505  1942.284244
                      1962   64.820   1728137  2312.888958
                      1967   66.220   1984060  2760.196931
                      1972   67.690   2263554  3313.422188
                      1977   68.930   2509048  3533.003910
                      1982   70.420   2780097  3630.880722
                      1987   72.000   3075321  3738.932735
                      1992   71.581   3326498  2497.437901
                      1997   72.950   3428038  3193.054604
                      2002   75.651   3508512  4604.211737
                      2007   76.423   3600523  5937.029526
Africa    Algeria     1952   43.077   9279525  2449.008185
                      1957   45.685  10270856  3013.976023
                      1962   48.303  11000948  2550.816880
                      1967   51.407  12760499  3246.991771
                      1972   54.518  14760787  4182.663766
                      1977   58.014  17152804  4910.416756
...                             ...       ...          ...
Asia      Yemen, Rep. 1982   49.113   9657618  1977.557010
                      1987   52.922  11219340  1971.741538
                      1992   55.599  13367997  1879.496673
                      1997   58.020  15826497  2117.484526
                      2002   60.308  18701257  2234.820827
                      2007   62.698  22211743  2280.769906
Africa    Zambia      1952   42.038   2672000  1147.388831
                      1957   44.077   3016000  1311.956766
                      1962   46.023   3421000  1452.725766
                      1967   47.768   3900000  1777.077318
                      1972   50.107   4506497  1773.498265
                      1977   51.386   5216550  1588.688299
                      1982   51.821   6100407  1408.678565
                      1987   50.821   7272406  1213.315116
                      1992   46.100   8381163  1210.884633
                      1997   40.238   9417789  1071.353818
                      2002   39.193  10595811  1071.613938
                      2007   42.384  11746035  1271.211593
          Zimbabwe    1952   48.451   3080907   406.884115
                      1957   50.469   3646340   518.764268
                      1962   52.358   4277736   527.272182
                      1967   53.995   4995432   569.795071
                      1972   55.635   5861135   799.362176
                      1977   57.674   6642107   685.587682
                      1982   60.363   7636524   788.855041
                      1987   62.351   9216418   706.157306
                      1992   60.377  10704340   693.420786
                      1997   46.809  11404948   792.449960
                      2002   39.989  11926563   672.038623
                      2007   43.487  12311143   469.709298

[1704 rows x 3 columns]

In [12]:
df.sort_index(inplace=True)

In [13]:
df

                               lifeExp       pop     gdpPercap
continent country        year
Africa    Algeria        1952   43.077   9279525   2449.008185
                         1957   45.685  10270856   3013.976023
                         1962   48.303  11000948   2550.816880
                         1967   51.407  12760499   3246.991771
                         1972   54.518  14760787   4182.663766
                         1977   58.014  17152804   4910.416756
                         1982   61.368  20033753   5745.160213
                         1987   65.799  23254956   5681.358539
                         1992   67.744  26298373   5023.216647
                         1997   69.152  29072015   4797.295051
                         2002   70.994  31287142   5288.040382
                         2007   72.301  33333216   6223.367465
          Angola         1952   30.015   4232095   3520.610273
                         1957   31.999   4561361   3827.940465
                         1962   34.000   4826015   4269.276742
                         1967   35.985   5247469   5522.776375
                         1972   37.928   5894858   5473.288005
                         1977   39.483   6162675   3008.647355
                         1982   39.942   7016384   2756.953672
                         1987   39.906   7874230   2430.208311
                         1992   40.647   8735988   2627.845685
                         1997   40.963   9875024   2277.140884
                         2002   41.003  10866106   2773.287312
                         2007   42.731  12420476   4797.231267
          Benin          1952   38.223   1738315   1062.752200
                         1957   40.358   1925173    959.601080
                         1962   42.618   2151895    949.499064
                         1967   44.885   2427334   1035.831411
                         1972   47.014   2761407   1085.796879
                         1977   49.190   3168267   1029.161251
...                                ...       ...           ...
Europe    United Kingdom 1982   74.040  56339704  18232.424520
                         1987   75.007  56981620  21664.787670
                         1992   76.420  57866349  22705.092540
                         1997   77.218  58808266  26074.531360
                         2002   78.471  59912431  29478.999190
                         2007   79.425  60776238  33203.261280
Oceania   Australia      1952   69.120   8691212  10039.595640
                         1957   70.330   9712569  10949.649590
                         1962   70.930  10794968  12217.226860
                         1967   71.100  11872264  14526.124650
                         1972   71.930  13177000  16788.629480
                         1977   73.490  14074100  18334.197510
                         1982   74.740  15184200  19477.009280
                         1987   76.320  16257249  21888.889030
                         1992   77.560  17481977  23424.766830
                         1997   78.830  18565243  26997.936570
                         2002   80.370  19546792  30687.754730
                         2007   81.235  20434176  34435.367440
          New Zealand    1952   69.390   1994794  10556.575660
                         1957   70.260   2229407  12247.395320
                         1962   71.240   2488550  13175.678000
                         1967   71.520   2728150  14463.918930
                         1972   71.890   2929100  16046.037280
                         1977   72.220   3164900  16233.717700
                         1982   73.840   3210650  17632.410400
                         1987   74.320   3317166  19007.191290
                         1992   76.330   3437674  18363.324940
                         1997   77.550   3676187  21050.413770
                         2002   79.110   3908037  23189.801350
                         2007   80.204   4115771  25185.009110

[1704 rows x 3 columns]

In [14]:
idx = pd.IndexSlice

In [21]:
df.loc[idx['Asia'] ,:]

                         lifeExp       pop     gdpPercap
country            year
Afghanistan        1952   28.801   8425333    779.445314
                   1957   30.332   9240934    820.853030
                   1962   31.997  10267083    853.100710
                   1967   34.020  11537966    836.197138
                   1972   36.088  13079460    739.981106
                   1977   38.438  14880372    786.113360
                   1982   39.854  12881816    978.011439
                   1987   40.822  13867957    852.395945
                   1992   41.674  16317921    649.341395
                   1997   41.763  22227415    635.341351
                   2002   42.129  25268405    726.734055
                   2007   43.828  31889923    974.580338
Bahrain            1952   50.939    120447   9867.084765
                   1957   53.832    138655  11635.799450
                   1962   56.923    171863  12753.275140
                   1967   59.923    202182  14804.672700
                   1972   63.300    230800  18268.658390
                   1977   65.593    297410  19340.101960
                   1982   69.052    377967  19211.147310
                   1987   70.750    454612  18524.024060
                   1992   72.601    529491  19035.579170
                   1997   73.925    598561  20292.016790
                   2002   74.795    656397  23403.559270
                   2007   75.635    708573  29796.048340
Bangladesh         1952   37.484  46886859    684.244172
                   1957   39.348  51365468    661.637458
                   1962   41.216  56839289    686.341554
                   1967   43.453  62821884    721.186086
                   1972   45.252  70759295    630.233627
                   1977   46.923  80428306    659.877232
...                          ...       ...           ...
Vietnam            1982   58.816  56142181    707.235786
                   1987   62.820  62826491    820.799445
                   1992   67.662  69940728    989.023149
                   1997   70.672  76048996   1385.896769
                   2002   73.017  80908147   1764.456677
                   2007   74.249  85262356   2441.576404
West Bank and Gaza 1952   43.160   1030585   1515.592329
                   1957   45.671   1070439   1827.067742
                   1962   48.127   1133134   2198.956312
                   1967   51.631   1142636   2649.715007
                   1972   56.532   1089572   3133.409277
                   1977   60.765   1261091   3682.831494
                   1982   64.406   1425876   4336.032082
                   1987   67.046   1691210   5107.197384
                   1992   69.718   2104779   6017.654756
                   1997   71.096   2826046   7110.667619
                   2002   72.370   3389578   4515.487575
                   2007   73.422   4018332   3025.349798
Yemen, Rep.        1952   32.548   4963829    781.717576
                   1957   33.970   5498090    804.830455
                   1962   35.180   6120081    825.623201
                   1967   36.984   6740785    862.442146
                   1972   39.848   7407075   1265.047031
                   1977   44.175   8403990   1829.765177
                   1982   49.113   9657618   1977.557010
                   1987   52.922  11219340   1971.741538
                   1992   55.599  13367997   1879.496673
                   1997   58.020  15826497   2117.484526
                   2002   60.308  18701257   2234.820827
                   2007   62.698  22211743   2280.769906

[396 rows x 3 columns]

In [22]:
df.loc[idx['Asia':'Europe', :, 2007 ], :]

                                       lifeExp         pop     gdpPercap
continent country                year
Asia      Afghanistan            2007   43.828    31889923    974.580338
          Bahrain                2007   75.635      708573  29796.048340
          Bangladesh             2007   64.062   150448339   1391.253792
          Cambodia               2007   59.723    14131858   1713.778686
          China                  2007   72.961  1318683096   4959.114854
          Hong Kong, China       2007   82.208     6980412  39724.978670
          India                  2007   64.698  1110396331   2452.210407
          Indonesia              2007   70.650   223547000   3540.651564
          Iran                   2007   70.964    69453570  11605.714490
          Iraq                   2007   59.545    27499638   4471.061906
          Israel                 2007   80.745     6426679  25523.277100
          Japan                  2007   82.603   127467972  31656.068060
          Jordan                 2007   72.535     6053193   4519.461171
          Korea, Dem. Rep.       2007   67.297    23301725   1593.065480
          Korea, Rep.            2007   78.623    49044790  23348.139730
          Kuwait                 2007   77.588     2505559  47306.989780
          Lebanon                2007   71.993     3921278  10461.058680
          Malaysia               2007   74.241    24821286  12451.655800
          Mongolia               2007   66.803     2874127   3095.772271
          Myanmar                2007   62.069    47761980    944.000000
          Nepal                  2007   63.785    28901790   1091.359778
          Oman                   2007   75.640     3204897  22316.192870
          Pakistan               2007   65.483   169270617   2605.947580
          Philippines            2007   71.688    91077287   3190.481016
          Saudi Arabia           2007   72.777    27601038  21654.831940
          Singapore              2007   79.972     4553009  47143.179640
          Sri Lanka              2007   72.396    20378239   3970.095407
          Syria                  2007   74.143    19314747   4184.548089
          Taiwan                 2007   78.400    23174294  28718.276840
          Thailand               2007   70.616    65068149   7458.396327
...                                        ...         ...           ...
Europe    Albania                2007   76.423     3600523   5937.029526
          Austria                2007   79.829     8199783  36126.492700
          Belgium                2007   79.441    10392226  33692.605080
          Bosnia and Herzegovina 2007   74.852     4552198   7446.298803
          Bulgaria               2007   73.005     7322858  10680.792820
          Croatia                2007   75.748     4493312  14619.222720
          Czech Republic         2007   76.486    10228744  22833.308510
          Denmark                2007   78.332     5468120  35278.418740
          Finland                2007   79.313     5238460  33207.084400
          France                 2007   80.657    61083916  30470.016700
          Germany                2007   79.406    82400996  32170.374420
          Greece                 2007   79.483    10706290  27538.411880
          Hungary                2007   73.338     9956108  18008.944440
          Iceland                2007   81.757      301931  36180.789190
          Ireland                2007   78.885     4109086  40675.996350
          Italy                  2007   80.546    58147733  28569.719700
          Montenegro             2007   74.543      684736   9253.896111
          Netherlands            2007   79.762    16570613  36797.933320
          Norway                 2007   80.196     4627926  49357.190170
          Poland                 2007   75.563    38518241  15389.924680
          Portugal               2007   78.098    10642836  20509.647770
          Romania                2007   72.476    22276056  10808.475610
          Serbia                 2007   74.002    10150265   9786.534714
          Slovak Republic        2007   74.663     5447502  18678.314350
          Slovenia               2007   77.926     2009245  25768.257590
          Spain                  2007   80.941    40448191  28821.063700
          Sweden                 2007   80.884     9031088  33859.748350
          Switzerland            2007   81.701     7554661  37506.419070
          Turkey                 2007   71.777    71158647   8458.276384
          United Kingdom         2007   79.425    60776238  33203.261280

[63 rows x 3 columns]

In [25]:
df.loc[idx[:, ['Thailand', 'Denmark'], 2007] ,:]

                         lifeExp       pop     gdpPercap
continent country  year
Asia      Thailand 2007   70.616  65068149   7458.396327
Europe    Denmark  2007   78.332   5468120  35278.418740

In [27]:
df.loc[idx[:, ['Thailand', 'Vietnam'], :], ['pop']]

                              pop
continent country  year
Asia      Thailand 1952  21289402
                   1957  25041917
                   1962  29263397
                   1967  34024249
                   1972  39276153
                   1977  44148285
                   1982  48827160
                   1987  52910342
                   1992  56667095
                   1997  60216677
                   2002  62806748
                   2007  65068149
          Vietnam  1952  26246839
                   1957  28998543
                   1962  33796140
                   1967  39463910
                   1972  44655014
                   1977  50533506
                   1982  56142181
                   1987  62826491
                   1992  69940728
                   1997  76048996
                   2002  80908147
                   2007  85262356

In [30]:
df.loc[idx[:, 'A':'B', :], :]

                          lifeExp       pop     gdpPercap
continent country   year
Africa    Algeria   1952   43.077   9279525   2449.008185
                    1957   45.685  10270856   3013.976023
                    1962   48.303  11000948   2550.816880
                    1967   51.407  12760499   3246.991771
                    1972   54.518  14760787   4182.663766
                    1977   58.014  17152804   4910.416756
                    1982   61.368  20033753   5745.160213
                    1987   65.799  23254956   5681.358539
                    1992   67.744  26298373   5023.216647
                    1997   69.152  29072015   4797.295051
                    2002   70.994  31287142   5288.040382
                    2007   72.301  33333216   6223.367465
          Angola    1952   30.015   4232095   3520.610273
                    1957   31.999   4561361   3827.940465
                    1962   34.000   4826015   4269.276742
                    1967   35.985   5247469   5522.776375
                    1972   37.928   5894858   5473.288005
                    1977   39.483   6162675   3008.647355
                    1982   39.942   7016384   2756.953672
                    1987   39.906   7874230   2430.208311
                    1992   40.647   8735988   2627.845685
                    1997   40.963   9875024   2277.140884
                    2002   41.003  10866106   2773.287312
                    2007   42.731  12420476   4797.231267
Americas  Argentina 1952   62.485  17876956   5911.315053
                    1957   64.399  19610538   6856.856212
                    1962   65.142  21283783   7133.166023
                    1967   65.634  22934225   8052.953021
                    1972   67.065  24779799   9443.038526
                    1977   68.481  26983828  10079.026740
...                           ...       ...           ...
Europe    Albania   1982   70.420   2780097   3630.880722
                    1987   72.000   3075321   3738.932735
                    1992   71.581   3326498   2497.437901
                    1997   72.950   3428038   3193.054604
                    2002   75.651   3508512   4604.211737
                    2007   76.423   3600523   5937.029526
          Austria   1952   66.800   6927772   6137.076492
                    1957   67.480   6965860   8842.598030
                    1962   69.540   7129864  10750.721110
                    1967   70.140   7376998  12834.602400
                    1972   70.630   7544201  16661.625600
                    1977   72.170   7568430  19749.422300
                    1982   73.180   7574613  21597.083620
                    1987   74.940   7578903  23687.826070
                    1992   76.040   7914969  27042.018680
                    1997   77.510   8069876  29095.920660
                    2002   78.980   8148312  32417.607690
                    2007   79.829   8199783  36126.492700
Oceania   Australia 1952   69.120   8691212  10039.595640
                    1957   70.330   9712569  10949.649590
                    1962   70.930  10794968  12217.226860
                    1967   71.100  11872264  14526.124650
                    1972   71.930  13177000  16788.629480
                    1977   73.490  14074100  18334.197510
                    1982   74.740  15184200  19477.009280
                    1987   76.320  16257249  21888.889030
                    1992   77.560  17481977  23424.766830
                    1997   78.830  18565243  26997.936570
                    2002   80.370  19546792  30687.754730
                    2007   81.235  20434176  34435.367440

[84 rows x 3 columns]

In [33]:
df.index.get_level_values(1).str.contains('land')

array([False, False, False, ...,  True,  True,  True])

In [35]:
df.loc[idx[:, df.index.get_level_values(1).str.contains('land'), :], :]

                            lifeExp       pop     gdpPercap
continent country     year
Africa    Swaziland   1952   41.407    290243   1148.376626
                      1957   43.424    326741   1244.708364
                      1962   44.992    370006   1856.182125
                      1967   46.633    420690   2613.101665
                      1972   49.552    480105   3364.836625
                      1977   52.537    551425   3781.410618
                      1982   55.561    649901   3895.384018
                      1987   57.678    779348   3984.839812
                      1992   58.474    962344   3553.022400
                      1997   54.289   1054486   3876.768460
                      2002   43.869   1130269   4128.116943
                      2007   39.613   1133066   4513.480643
Asia      Thailand    1952   50.848  21289402    757.797418
                      1957   53.630  25041917    793.577415
                      1962   56.061  29263397   1002.199172
                      1967   58.285  34024249   1295.460660
                      1972   60.405  39276153   1524.358936
                      1977   62.494  44148285   1961.224635
                      1982   64.597  48827160   2393.219781
                      1987   66.084  52910342   2982.653773
                      1992   67.298  56667095   4616.896545
                      1997   67.521  60216677   5852.625497
                      2002   68.564  62806748   5913.187529
                      2007   70.616  65068149   7458.396327
Europe    Finland     1952   66.550   4090500   6424.519071
                      1957   67.490   4324000   7545.415386
                      1962   68.750   4491443   9371.842561
                      1967   69.830   4605744  10921.636260
                      1972   70.870   4639657  14358.875900
                      1977   72.520   4738902  15605.422830
...                             ...       ...           ...
          Poland      1982   71.320  36227381   8451.531004
                      1987   70.980  37740710   9082.351172
                      1992   70.990  38370697   7738.881247
                      1997   72.750  38654957  10159.583680
                      2002   74.670  38625976  12002.239080
                      2007   75.563  38518241  15389.924680
          Switzerland 1952   69.620   4815000  14734.232750
                      1957   70.560   5126000  17909.489730
                      1962   71.320   5666000  20431.092700
                      1967   72.770   6063000  22966.144320
                      1972   73.780   6401400  27195.113040
                      1977   75.390   6316424  26982.290520
                      1982   76.210   6468126  28397.715120
                      1987   77.410   6649942  30281.704590
                      1992   78.030   6995447  31871.530300
                      1997   79.370   7193761  32135.323010
                      2002   80.620   7361757  34480.957710
                      2007   81.701   7554661  37506.419070
Oceania   New Zealand 1952   69.390   1994794  10556.575660
                      1957   70.260   2229407  12247.395320
                      1962   71.240   2488550  13175.678000
                      1967   71.520   2728150  14463.918930
                      1972   71.890   2929100  16046.037280
                      1977   72.220   3164900  16233.717700
                      1982   73.840   3210650  17632.410400
                      1987   74.320   3317166  19007.191290
                      1992   76.330   3437674  18363.324940
                      1997   77.550   3676187  21050.413770
                      2002   79.110   3908037  23189.801350
                      2007   80.204   4115771  25185.009110

[108 rows x 3 columns]