In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/mpg.csv')
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
5,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact
6,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
7,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact
8,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact
11,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact
12,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact
13,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact
14,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact
15,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize
16,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize
17,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize
18,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
21,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv
22,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
23,chevrolet,corvette,5.7,1999,8,manual(m6),r,16,26,p,2seater
24,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater
25,chevrolet,corvette,6.2,2008,8,manual(m6),r,16,26,p,2seater
26,chevrolet,corvette,6.2,2008,8,auto(s6),r,15,25,p,2seater
27,chevrolet,corvette,7.0,2008,8,manual(m6),r,15,24,p,2seater
28,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,14,19,r,suv
29,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,11,14,e,suv
...,...,...,...,...,...,...,...,...,...,...,...
204,toyota,toyota tacoma 4wd,3.4,1999,6,auto(l4),4,15,19,r,pickup
205,toyota,toyota tacoma 4wd,4.0,2008,6,manual(m6),4,15,18,r,pickup
206,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup
207,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact
208,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact
209,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact
210,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact
211,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
213,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact
214,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact
215,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact
216,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact
217,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact
218,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact
219,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact
220,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact
221,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact
223,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact
224,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact
225,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
226,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact
227,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize
228,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [3]:
pd.crosstab(df.drv, df['class'])

class  2seater  compact  midsize  minivan  pickup  subcompact  suv
drv
4            0       12        3        0      33           4   51
f            0       35       38       11       0          22    0
r            5        0        0        0       0           9   11

In [4]:
pd.crosstab(df.drv, df['class'], margins=True)

class  2seater  compact  midsize  minivan  pickup  subcompact  suv  All
drv
4            0       12        3        0      33           4   51  103
f            0       35       38       11       0          22    0  106
r            5        0        0        0       0           9   11   25
All          5       47       41       11      33          35   62  234

In [5]:
pd.crosstab(df['drv'], df['class'], margins=True, normalize=True)

class,2seater,compact,midsize,minivan,pickup,subcompact,suv,All
drv,,,,,,,,
4,0.000000,0.051282,0.012821,0.000000,0.141026,0.017094,0.217949,0.440171
f,0.000000,0.149573,0.162393,0.047009,0.000000,0.094017,0.000000,0.452991
r,0.021368,0.000000,0.000000,0.000000,0.000000,0.038462,0.047009,0.106838
All,0.021368,0.200855,0.175214,0.047009,0.141026,0.149573,0.264957,1.000000

In [6]:
pd.crosstab(df['drv'], df['class'], margins=True, normalize=True) *100

class,2seater,compact,midsize,minivan,pickup,subcompact,suv,All
drv,,,,,,,,
4,0.000000,5.128205,1.282051,0.000000,14.102564,1.709402,21.794872,44.017094
f,0.000000,14.957265,16.239316,4.700855,0.000000,9.401709,0.000000,45.299145
r,2.136752,0.000000,0.000000,0.000000,0.000000,3.846154,4.700855,10.683761
All,2.136752,20.085470,17.521368,4.700855,14.102564,14.957265,26.495726,100.000000

In [7]:
(pd.crosstab(df['drv'], df['class'], margins=True, normalize=True)*100).round(1)

class  2seater  compact  midsize  minivan  pickup  subcompact   suv    All
drv
4          0.0      5.1      1.3      0.0    14.1         1.7  21.8   44.0
f          0.0     15.0     16.2      4.7     0.0         9.4   0.0   45.3
r          2.1      0.0      0.0      0.0     0.0         3.8   4.7   10.7
All        2.1     20.1     17.5      4.7    14.1        15.0  26.5  100.0

In [8]:
df['trans_am'] = df['trans'].str[0]
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,trans_am
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,a
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,m
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,m
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,a
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,a
5,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,m
6,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,a
7,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,m
8,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,a
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,m
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact,a
11,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact,a
12,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact,m
13,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact,a
14,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact,m
15,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize,a
16,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize,a
17,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize,a
18,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv,a
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv,a
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv,a
21,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv,a
22,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv,a
23,chevrolet,corvette,5.7,1999,8,manual(m6),r,16,26,p,2seater,m
24,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater,a
25,chevrolet,corvette,6.2,2008,8,manual(m6),r,16,26,p,2seater,m
26,chevrolet,corvette,6.2,2008,8,auto(s6),r,15,25,p,2seater,a
27,chevrolet,corvette,7.0,2008,8,manual(m6),r,15,24,p,2seater,m
28,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,14,19,r,suv,a
29,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,11,14,e,suv,a
...,...,...,...,...,...,...,...,...,...,...,...,...
204,toyota,toyota tacoma 4wd,3.4,1999,6,auto(l4),4,15,19,r,pickup,a
205,toyota,toyota tacoma 4wd,4.0,2008,6,manual(m6),4,15,18,r,pickup,m
206,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup,a
207,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact,m
208,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact,a
209,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact,m
210,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact,a
211,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact,m
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,m
213,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact,m
214,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact,a
215,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact,a
216,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact,m
217,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact,a
218,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact,m
219,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact,a
220,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact,m
221,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact,m
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,a
223,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact,m
224,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact,a
225,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact,m
226,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact,a
227,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize,m
228,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize,a
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,a
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,m
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,a
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,m
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,a

In [9]:
pd.crosstab(df.trans_am, df.manufacturer)

manufacturer,audi,chevrolet,dodge,ford,honda,hyundai,jeep,land rover,lincoln,mercury,nissan,pontiac,subaru,toyota,volkswagen
trans_am,,,,,,,,,,,,,,,
a,11,16,30,17,4,7,8,4,3,4,8,5,7,20,13
m,7,3,7,8,5,7,0,0,0,0,5,0,7,14,14

In [10]:
pd.crosstab([df['class'], df.trans_am], df.manufacturer, margins=True)

manufacturer         audi  chevrolet  dodge  ford  honda  hyundai  jeep  \
class      trans_am
2seater    a            0          2      0     0      0        0     0
           m            0          3      0     0      0        0     0
compact    a            8          0      0     0      0        0     0
           m            7          0      0     0      0        0     0
midsize    a            3          5      0     0      0        4     0
           m            0          0      0     0      0        3     0
minivan    a            0          0     11     0      0        0     0
pickup     a            0          0     12     5      0        0     0
           m            0          0      7     2      0        0     0
subcompact a            0          0      0     4      4        3     0
           m            0          0      0     5      5        4     0
suv        a            0          9      7     8      0        0     8
           m            0          0      0     1      0        0     0
All                    18         19     37    25      9       14     8

manufacturer         land rover  lincoln  mercury  nissan  pontiac  subaru  \
class      trans_am
2seater    a                  0        0        0       0        0       0
           m                  0        0        0       0        0       0
compact    a                  0        0        0       1        0       2
           m                  0        0        0       1        0       2
midsize    a                  0        0        0       4        5       0
           m                  0        0        0       3        0       0
minivan    a                  0        0        0       0        0       0
pickup     a                  0        0        0       0        0       0
           m                  0        0        0       0        0       0
subcompact a                  0        0        0       0        0       2
           m                  0        0        0       0        0       2
suv        a                  4        3        4       3        0       3
           m                  0        0        0       1        0       3
All                           4        3        4      13        5      14

manufacturer         toyota  volkswagen  All
class      trans_am
2seater    a              0           0    2
           m              0           0    3
compact    a              7           6   24
           m              5           8   23
midsize    a              4           4   29
           m              3           3   12
minivan    a              0           0   11
pickup     a              3           0   20
           m              4           0   13
subcompact a              0           3   16
           m              0           3   19
suv        a              6           0   55
           m              2           0    7
All                      34          27  234

In [11]:
df.agg(['mean', 'max', 'min'])

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,trans_am
max,volkswagen,toyota tacoma 4wd,7.000000,2008.0,8.000000,manual(m6),r,35.000000,44.000000,r,suv,m
min,audi,4runner 4wd,1.600000,1999.0,4.000000,auto(av),4,9.000000,12.000000,c,2seater,a
mean,NaN,NaN,3.471795,2003.5,5.888889,NaN,NaN,16.858974,23.440171,NaN,NaN,NaN

In [12]:
pd.crosstab([df['class'], df.trans_am], df.manufacturer, margins=True, values=df.cty, aggfunc=np.average) #ใส่ค่าเฉลี่ยของ cty

manufacturer              audi  chevrolet      dodge    ford      honda  \
class      trans_am
2seater    a               NaN  15.000000        NaN     NaN        NaN
           m               NaN  15.666667        NaN     NaN        NaN
compact    a         17.500000        NaN        NaN     NaN        NaN
           m         18.428571        NaN        NaN     NaN        NaN
midsize    a         16.000000  18.800000        NaN     NaN        NaN
           m               NaN        NaN        NaN     NaN        NaN
minivan    a               NaN        NaN  15.818182     NaN        NaN
pickup     a               NaN        NaN  12.083333  12.800        NaN
           m               NaN        NaN  12.000000  13.500        NaN
subcompact a               NaN        NaN        NaN  16.000  24.250000
           m               NaN        NaN        NaN  15.800  24.600000
suv        a               NaN  12.666667  11.857143  12.625        NaN
           m               NaN        NaN        NaN  15.000        NaN
All                  17.611111  15.000000  13.135135  14.000  24.444444

manufacturer           hyundai  jeep  land rover    lincoln  mercury  \
class      trans_am
2seater    a               NaN   NaN         NaN        NaN      NaN
           m               NaN   NaN         NaN        NaN      NaN
compact    a               NaN   NaN         NaN        NaN      NaN
           m               NaN   NaN         NaN        NaN      NaN
midsize    a         19.000000   NaN         NaN        NaN      NaN
           m         19.000000   NaN         NaN        NaN      NaN
minivan    a               NaN   NaN         NaN        NaN      NaN
pickup     a               NaN   NaN         NaN        NaN      NaN
           m               NaN   NaN         NaN        NaN      NaN
subcompact a         18.666667   NaN         NaN        NaN      NaN
           m         18.000000   NaN         NaN        NaN      NaN
suv        a               NaN  13.5        11.5  11.333333    13.25
           m               NaN   NaN         NaN        NaN      NaN
All                  18.642857  13.5        11.5  11.333333    13.25

manufacturer            nissan  pontiac     subaru     toyota  volkswagen  \
class      trans_am
2seater    a               NaN      NaN        NaN        NaN         NaN
           m               NaN      NaN        NaN        NaN         NaN
compact    a         19.000000      NaN  20.000000  21.857143   19.833333
           m         21.000000      NaN  19.500000  22.800000   21.500000
midsize    a         19.750000     17.0        NaN  19.750000   17.500000
           m         20.333333      NaN        NaN  20.000000   20.000000
minivan    a               NaN      NaN        NaN        NaN         NaN
pickup     a               NaN      NaN        NaN  15.666667         NaN
           m               NaN      NaN        NaN  15.500000         NaN
subcompact a               NaN      NaN  20.000000        NaN   22.666667
           m               NaN      NaN  19.000000        NaN   25.333333
suv        a         13.333333      NaN  18.666667  14.166667         NaN
           m         15.000000      NaN  19.000000  15.000000         NaN
All                  18.076923     17.0  19.285714  18.529412   20.925926

manufacturer               All
class      trans_am
2seater    a         15.000000
           m         15.666667
compact    a         19.625000
           m         20.652174
midsize    a         18.310345
           m         19.833333
minivan    a         15.818182
pickup     a         12.800000
           m         13.307692
subcompact a         20.312500
           m         20.421053
suv        a         13.090909
           m         16.714286
All                  16.858974

In [13]:
pd.crosstab([df['class'], df.trans_am], df.manufacturer, margins=True, values=df.cty, aggfunc=np.average).sort_index().loc[['compact', 'minivan']]

manufacturer           audi  chevrolet      dodge  ford  honda  hyundai  jeep  \
class   trans_am
compact a         17.500000        NaN        NaN   NaN    NaN      NaN   NaN
        m         18.428571        NaN        NaN   NaN    NaN      NaN   NaN
minivan a               NaN        NaN  15.818182   NaN    NaN      NaN   NaN

manufacturer      land rover  lincoln  mercury  nissan  pontiac  subaru  \
class   trans_am
compact a                NaN      NaN      NaN    19.0      NaN    20.0
        m                NaN      NaN      NaN    21.0      NaN    19.5
minivan a                NaN      NaN      NaN     NaN      NaN     NaN

manufacturer         toyota  volkswagen        All
class   trans_am
compact a         21.857143   19.833333  19.625000
        m         22.800000   21.500000  20.652174
minivan a               NaN         NaN  15.818182

In [14]:
pd.crosstab([df['class'], df.trans_am], df.manufacturer, margins=True, values=df.cty, aggfunc=np.max).loc[['compact', 'minivan']]

manufacturer      audi  chevrolet  dodge  ford  honda  hyundai  jeep  \
class   trans_am
compact a         21.0        NaN    NaN   NaN    NaN      NaN   NaN
        m         21.0        NaN    NaN   NaN    NaN      NaN   NaN
minivan a          NaN        NaN   18.0   NaN    NaN      NaN   NaN

manufacturer      land rover  lincoln  mercury  nissan  pontiac  subaru  \
class   trans_am
compact a                NaN      NaN      NaN    19.0      NaN    20.0
        m                NaN      NaN      NaN    21.0      NaN    20.0
minivan a                NaN      NaN      NaN     NaN      NaN     NaN

manufacturer      toyota  volkswagen  All
class   trans_am
compact a           26.0        22.0   26
        m           28.0        33.0   33
minivan a            NaN         NaN   18