In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/msleep.csv', nrows=10)
df

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
5,Three-toed sloth,Bradypus,herbi,Pilosa,NaN,14.4,2.2,0.766667,9.6,NaN,3.850
6,Northern fur seal,Callorhinus,carni,Carnivora,vu,8.7,1.4,0.383333,15.3,NaN,20.490
7,Vesper mouse,Calomys,NaN,Rodentia,NaN,7.0,NaN,NaN,17.0,NaN,0.045
8,Dog,Canis,carni,Carnivora,domesticated,10.1,2.9,0.333333,13.9,0.07000,14.000
9,Roe deer,Capreolus,herbi,Artiodactyla,lc,3.0,NaN,NaN,21.0,0.09820,14.800

In [5]:
train_ratio = .7

In [8]:
df_train = df.sample(frac=train_ratio)
df_train

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
9,Roe deer,Capreolus,herbi,Artiodactyla,lc,3.0,NaN,NaN,21.0,0.0982,14.800
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.4230,600.000
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
8,Dog,Canis,carni,Carnivora,domesticated,10.1,2.9,0.333333,13.9,0.0700,14.000
7,Vesper mouse,Calomys,NaN,Rodentia,NaN,7.0,NaN,NaN,17.0,NaN,0.045
6,Northern fur seal,Callorhinus,carni,Carnivora,vu,8.7,1.4,0.383333,15.3,NaN,20.490
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.0155,0.480

In [9]:
df_train.index

Int64Index([9, 4, 0, 8, 7, 6, 1], dtype='int64')

In [11]:
df.index.isin(df_train.index)

array([ True,  True, False, False,  True, False,  True,  True,  True,
        True])

In [13]:
~df.index.isin(df_train.index)

array([False, False,  True,  True, False,  True, False, False, False,
       False])

In [16]:
df_test = df[~df.index.isin(df_train.index)]

In [17]:
df_test

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
5,Three-toed sloth,Bradypus,herbi,Pilosa,NaN,14.4,2.2,0.766667,9.6,NaN,3.850

## index name

In [19]:
df = pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/msleep.csv', nrows=10, index_col='name')
df

,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
name,,,,,,,,,,
Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
Three-toed sloth,Bradypus,herbi,Pilosa,NaN,14.4,2.2,0.766667,9.6,NaN,3.850
Northern fur seal,Callorhinus,carni,Carnivora,vu,8.7,1.4,0.383333,15.3,NaN,20.490
Vesper mouse,Calomys,NaN,Rodentia,NaN,7.0,NaN,NaN,17.0,NaN,0.045
Dog,Canis,carni,Carnivora,domesticated,10.1,2.9,0.333333,13.9,0.07000,14.000
Roe deer,Capreolus,herbi,Artiodactyla,lc,3.0,NaN,NaN,21.0,0.09820,14.800

In [20]:
tran_ratio = 0.7

In [27]:
df_train = df.sample(frac=0.7)
df_train

,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
name,,,,,,,,,,
Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
Three-toed sloth,Bradypus,herbi,Pilosa,NaN,14.4,2.2,0.766667,9.6,NaN,3.850
Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
Roe deer,Capreolus,herbi,Artiodactyla,lc,3.0,NaN,NaN,21.0,0.09820,14.800
Dog,Canis,carni,Carnivora,domesticated,10.1,2.9,0.333333,13.9,0.07000,14.000
Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480

In [28]:
df_test = df[~df.index.isin(df_train.index)]
df_test

,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
name,,,,,,,,,,
Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.423,600.000
Northern fur seal,Callorhinus,carni,Carnivora,vu,8.7,1.4,0.383333,15.3,NaN,20.490
Vesper mouse,Calomys,NaN,Rodentia,NaN,7.0,NaN,NaN,17.0,NaN,0.045

## function

In [37]:
def split2(df, train_ratio=0.7):
    ''''''
    df_train = df.sample(frac=train_ratio)
    df_test  = df[~df.index.isin(df_train.index)]
    return [df_train, df_test]

In [32]:
df_train, df_test = split2(df)

In [33]:
df_train

,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
name,,,,,,,,,,
Vesper mouse,Calomys,NaN,Rodentia,NaN,7.0,NaN,NaN,17.0,NaN,0.045
Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.0155,0.480
Northern fur seal,Callorhinus,carni,Carnivora,vu,8.7,1.4,0.383333,15.3,NaN,20.490
Roe deer,Capreolus,herbi,Artiodactyla,lc,3.0,NaN,NaN,21.0,0.0982,14.800
Three-toed sloth,Bradypus,herbi,Pilosa,NaN,14.4,2.2,0.766667,9.6,NaN,3.850
Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.4230,600.000

In [35]:
df_test

,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
name,,,,,,,,,,
Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
Dog,Canis,carni,Carnivora,domesticated,10.1,2.9,0.333333,13.9,0.07000,14.000

## split 3 dataframe

In [44]:
df_train2, df_temp = split2(df, train_ratio=.6)
df_validation2, df_test2 = split2(df_temp, train_ratio=0.5)

In [45]:
df_train2

,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
name,,,,,,,,,,
Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
Vesper mouse,Calomys,NaN,Rodentia,NaN,7.0,NaN,NaN,17.0,NaN,0.045
Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
Northern fur seal,Callorhinus,carni,Carnivora,vu,8.7,1.4,0.383333,15.3,NaN,20.490
Dog,Canis,carni,Carnivora,domesticated,10.1,2.9,0.333333,13.9,0.07000,14.000

In [46]:
df_validation2

,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
name,,,,,,,,,,
Three-toed sloth,Bradypus,herbi,Pilosa,NaN,14.4,2.2,0.766667,9.6,NaN,3.85
Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.00

In [47]:
df_test2

,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
name,,,,,,,,,,
Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.0155,0.48
Roe deer,Capreolus,herbi,Artiodactyla,lc,3.0,NaN,NaN,21.0,0.0982,14.80

## mutilevel index

In [48]:
df = pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/msleep.csv', nrows=10, index_col=['vore', 'name'])
df

                                        genus         order  conservation  \
vore  name
carni Cheetah                        Acinonyx     Carnivora            lc
omni  Owl monkey                        Aotus      Primates           NaN
herbi Mountain beaver              Aplodontia      Rodentia            nt
omni  Greater short-tailed shrew      Blarina  Soricomorpha            lc
herbi Cow                                 Bos  Artiodactyla  domesticated
      Three-toed sloth               Bradypus        Pilosa           NaN
carni Northern fur seal           Callorhinus     Carnivora            vu
NaN   Vesper mouse                    Calomys      Rodentia           NaN
carni Dog                               Canis     Carnivora  domesticated
herbi Roe deer                      Capreolus  Artiodactyla            lc

                                  sleep_total  sleep_rem  sleep_cycle  awake  \
vore  name
carni Cheetah                            12.1        NaN          NaN   11.9
omni  Owl monkey                         17.0        1.8          NaN    7.0
herbi Mountain beaver                    14.4        2.4          NaN    9.6
omni  Greater short-tailed shrew         14.9        2.3     0.133333    9.1
herbi Cow                                 4.0        0.7     0.666667   20.0
      Three-toed sloth                   14.4        2.2     0.766667    9.6
carni Northern fur seal                   8.7        1.4     0.383333   15.3
NaN   Vesper mouse                        7.0        NaN          NaN   17.0
carni Dog                                10.1        2.9     0.333333   13.9
herbi Roe deer                            3.0        NaN          NaN   21.0

                                  brainwt   bodywt
vore  name
carni Cheetah                         NaN   50.000
omni  Owl monkey                  0.01550    0.480
herbi Mountain beaver                 NaN    1.350
omni  Greater short-tailed shrew  0.00029    0.019
herbi Cow                         0.42300  600.000
      Three-toed sloth                NaN    3.850
carni Northern fur seal               NaN   20.490
NaN   Vesper mouse                    NaN    0.045
carni Dog                         0.07000   14.000
herbi Roe deer                    0.09820   14.800

In [49]:
df_train3, df_test3 = split2(df)

In [50]:
df_train3

                               genus         order  conservation  sleep_total  \
vore  name
herbi Cow                        Bos  Artiodactyla  domesticated          4.0
      Roe deer             Capreolus  Artiodactyla            lc          3.0
carni Cheetah               Acinonyx     Carnivora            lc         12.1
      Northern fur seal  Callorhinus     Carnivora            vu          8.7
      Dog                      Canis     Carnivora  domesticated         10.1
NaN   Vesper mouse           Calomys      Rodentia           NaN          7.0
herbi Mountain beaver     Aplodontia      Rodentia            nt         14.4

                         sleep_rem  sleep_cycle  awake  brainwt   bodywt
vore  name
herbi Cow                      0.7     0.666667   20.0   0.4230  600.000
      Roe deer                 NaN          NaN   21.0   0.0982   14.800
carni Cheetah                  NaN          NaN   11.9      NaN   50.000
      Northern fur seal        1.4     0.383333   15.3      NaN   20.490
      Dog                      2.9     0.333333   13.9   0.0700   14.000
NaN   Vesper mouse             NaN          NaN   17.0      NaN    0.045
herbi Mountain beaver          2.4          NaN    9.6      NaN    1.350

In [51]:
df_test3

                                     genus         order conservation  \
vore  name
omni  Owl monkey                     Aotus      Primates          NaN
      Greater short-tailed shrew   Blarina  Soricomorpha           lc
herbi Three-toed sloth            Bradypus        Pilosa          NaN

                                  sleep_total  sleep_rem  sleep_cycle  awake  \
vore  name
omni  Owl monkey                         17.0        1.8          NaN    7.0
      Greater short-tailed shrew         14.9        2.3     0.133333    9.1
herbi Three-toed sloth                   14.4        2.2     0.766667    9.6

                                  brainwt  bodywt
vore  name
omni  Owl monkey                  0.01550   0.480
      Greater short-tailed shrew  0.00029   0.019
herbi Three-toed sloth                NaN   3.850

In [52]:
df.index

MultiIndex(levels=[['carni', 'herbi', 'omni'], ['Cheetah', 'Cow', 'Dog', 'Greater short-tailed shrew', 'Mountain beaver', 'Northern fur seal', 'Owl monkey', 'Roe deer', 'Three-toed sloth', 'Vesper mouse']],
           labels=[[0, 2, 1, 2, 1, 1, 0, -1, 0, 1], [0, 6, 4, 3, 1, 8, 5, 9, 2, 7]],
           names=['vore', 'name'])